:root {
  --rtc-primary-color: #13845380;
  --rtc-secondary-color: #138453;
  --rtc-teritiary-color: #f0edb5fe;
  --rtc-background-color: #ffffff;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background-color: var(--rtc-background-color);
}
header {
  display: flex;
  align-items: center;
  padding: 15px;
}
header > img {
  width: 15vh;
  height: 15vh;
}
header > nav {
  flex-grow: 1;
  background-color: var(--rtc-teritiary-color);
  display: flex;
  justify-content: center;
}
.nav-list {
  display: flex;
  justify-content: end;
  background-color: var(--rtc-teritiary-color);
  width: 100%;
  list-style: none;
  gap: 50px;
}
a {
  color: var(--rtc-secondary-color);
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
}
.container {
  min-height: 80vh;
  display: flex;
}
header,
footer {
  height: 15vh;
  background-color: var(--rtc-teritiary-color);
}
main {
  flex: 3;
  background-color: var(--rtc-primary-color);
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
section {
  display: grid;
  background-color: white;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
  margin-bottom: 10px;
  color: var(--rtc-secondary-color);
}
p {
  margin-bottom: 10px;
}
nav,
aside {
  flex: 1;
  background-color: var(--rtc-primary-color);
  padding: 20px;
}
.testimonios {
  margin-bottom: 20px;
  border-radius: 20px;
}
.blog {
  margin-top: 20px;
  border-radius: 20px;
}
.div-container {
  position: sticky;
  top: 100px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 5px;
}
.form-group > input {
  padding: 8px;
  border: 2px solid black;
  border-radius: 5px;
}
.form-group > button {
  padding: 8px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: var(--rtc-secondary-color);
  color: white;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: var(--rtc-teritiary-color);
}
footer ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  padding: 0 10px;
  color: var(--rtc-secondary-color);
}
footer ul li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 700px) {
  header > img {
    width: 10vh;
    height: 10vh;
    min-width: 80px;
    min-height: 80px;
  }
  .container {
    flex-direction: column;
  }
  main,
  nav,
  aside {
    flex: auto;
  }
}
